body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  border: 8px solid white;
}

.title {
  background: #e3f4ff;
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin: 8px 0px 0px 0px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 8px 0px 0px 0px;
  padding: 8px;
}

button {
  background: white;
  align-tracks: center;
  border: 1px solid #eee;
  display: flex;
  padding: 8px 24px;
  margin: auto;
}